main {
  .second-nav {
    width: 20%;
    border-right: 1px rgb(218, 218, 218) solid;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .second-nav-item{
        font-weight: bolder;
        font-size: 1.5rem;
        text-align: center;
        margin-top: 1rem;
        color: aliceblue;
        background-color: plum;
        border-radius: 50px;
        padding: 0.25rem 0;
    }
  }
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color:rgb(166, 204, 114);
     color: aliceblue;
}