nav {
  background: linear-gradient(0deg, #37797c 0%, #289091 64.19%);
  border-radius: 8px;
  width: 100%;
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title-container{
    color: white;
    font-weight: 900;
    letter-spacing: 0.02rem;
    // line-height: 20px;
    padding: 0.75rem 0;
    font-size: 1.5rem;
    font-family: "Noto Sans TC ";
    .title{
        padding: 1rem 0;
    }
  }
  .button-container{
    display: flex;
    font-size: 1.5rem;
    button{
        margin: 0.5rem;
    }
  }
}
