@import "../frontPage/header";
@import "../frontPage/pagination";
.content-container {
  padding: 1.5rem 2.5rem;
  background-color: #f5f5f5;
}
main,
section {
  margin: 2.5rem 0;
  text-align: center;
}
.major-title {
  font-weight: 900;
  color: #333333;
  font-size: 2rem;
}
.major-content {
  background-color: white;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 2rem 3.5rem;
  margin: 1rem 0;
  //   width: 80%;
  //   margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .major-content-block {
    margin-bottom: 1rem;
    .major-content-title {
      display: flex;
      letter-spacing: 0.02em;
      color: #333333;
      font-weight: 700;
      font-size: 20px;
      padding-bottom: 0.75rem;
      width: 100%;
      border-bottom: #cdcdcd 1px solid;
    }
    .major-content-list {
      .buttonItem{
        // margin: 1rem 0;
        margin-right: 0.5rem;
        padding: 6px 16px;
        color: #666666;
        font-weight: 400;
        letter-spacing: 0.01em;
        display: flex;
        align-items: center;
        &.active {
          background: #24a8a7;
          border-radius: 16px;
          color: white !important;
        }
      }
      .list-one-line {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .list-item {
          &.active {
            background: #24a8a7;
            border-radius: 16px;
            color: white !important;
          }
          &.zone {
            color: black;
            font-weight: 400;
            letter-spacing: 0.01em;
            margin: 1rem 0;
            margin-right: 0.5rem;
          }
          &.city {
            margin: 0 0.25rem;
            padding: 6px 16px;
            color: #666666;
            font-weight: 400;
            letter-spacing: 0.01em;
          }
          &.district {
            margin: 1rem 0;
            margin-right: 0.5rem;
            // margin: 0 0.25rem;
            padding: 6px 16px;
            color: #666666;
            font-weight: 400;
            letter-spacing: 0.01em;
          }
          &.department {
            margin: 1rem 0;
            margin-right: 0.5rem;
            // margin: 0 0.25rem;
            padding: 6px 16px;
            color: #666666;
            font-weight: 400;
            letter-spacing: 0.01em;
          }
          &.condition {
            margin: 1rem 0;
            margin-right: 0.5rem;
            // margin: 0 0.25rem;
            padding: 6px 16px;
            color: #666666;
            font-weight: 400;
            letter-spacing: 0.01em;
          }
        }
      }
      &.clinic-inform{
        font-size: 20px;
        color: #666666;
        letter-spacing: 0.01em;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: start;
        padding: 1rem 0;
        .item{
          width: auto;
          height: auto;
          padding-top: 1rem;
          display: flex;
          align-items: center;
          flex-direction: row;
          &.green{
            color: #53B6B7;
          }
        }
      }
    }
  }
  button {
    font-weight: 900;
    font-size: 1.25rem;
    color: white;
  }
  .switch-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .switch {
      display: flex;
      align-items: center;
      .active {
        background: #24a8a7;
        border-radius: 16px;
        color: white !important;
      }
      .item {
        color: grey;
        font-weight: 400;
        letter-spacing: 0.01em;
        padding: 6px 16px;
        width: auto;
        height: auto;
      }
    }

    .total {
      font-size: 20px;
      letter-spacing: 0.01em;
      font-weight: 400;
    }
  }
  .clinic-list {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
    .clinic-item {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      border-bottom: #cdcdcd 1px solid;
      padding: 0.5rem 0;
      .department {
        background: #efefef;
        border: 1px solid #e2e2e2;
        border-radius: 4px;
        padding: 8px 16px;
        letter-spacing: 0.01em;
        color: #666666;
      }
      .name {
        font-size: 20px;
        color: #666666;
        font-weight: 400;
        letter-spacing: 0.01em;
      }
      .tel {
        font-size: 20px;
        color: #666666;
        font-weight: 400;
        letter-spacing: 0.01em;
      }
      .address {
        font-size: 20px;
        color: #666666;
        font-weight: 400;
        letter-spacing: 0.01em;
      }
      .btn-detail {
        background: #24a8a7;
        border-radius: 8px;
        color: white;
        padding: 8px 24px;
      }
    }
  }
}
.pagination-container-custom {
  margin: 0;
  box-shadow: none;
  .page {
    box-shadow: none;
  }
}
@import "./nav";
@import "./date";
@import "../frontPage/footer";
