@charset "UTF-8";
.modal-body label {
  margin-right: 1rem;
}
.modal-body .input-group {
  width: 75%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}
.modal-body .input-group .form-label {
  margin-bottom: 0;
}
.modal-body .input-group button {
  border-radius: 0 0.375rem 0.375rem 0;
}
.modal-body section.tag-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal-body section.tag-container .body-block {
  width: 100%;
  margin: 1rem 1.25rem 0;
}
.modal-body section.tag-container .add-newTag {
  font-weight: bolder;
  color: saddlebrown;
  font-size: larger;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-body section.tag-container .add-newTag span {
  margin-right: 1rem;
}
.modal-body section.tag-container .body_title {
  font-size: larger;
  font-weight: bolder;
  border-bottom: 2px solid saddlebrown;
  padding-bottom: 0.5rem;
  color: saddlebrown;
}
.modal-body section.tag-container .body-tag button {
  margin-bottom: 5px;
  margin-right: 5px;
}

.modal-footer {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.breadcrumb {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: grey;
  letter-spacing: 0.02rem;
}
@media (max-width: 996px) {
  .breadcrumb {
    margin: 1rem 0;
    padding: 0 15px;
  }
}
@media (max-width: 576px) {
  .breadcrumb {
    margin: 1rem 0 0 0;
    padding: 0 15px;
  }
}
.breadcrumb .breakline {
  padding: 0 1rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 1rem 1rem 1rem;
  width: 100%;
  border-bottom: 1px solid gainsboro;
  background-color: white;
}
header .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-left .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-left .header-nav .header-nav-item {
  padding: 0 1rem;
  cursor: pointer;
  font-weight: 700;
}
header .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
header .header-right .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
header .header-right .search .seacrh-icon {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}
header .header-right .form-control {
  border-radius: 50px;
  min-width: 250px;
}
header .header-right button {
  border-radius: 50px;
  margin: 0 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  white-space: nowrap;
}

footer {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Noto Sans TC";
  padding: 1.5rem 3rem;
}
@media (max-width: 996px) {
  footer {
    padding: 1rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 576px) {
  footer {
    padding: 0 1rem 0.5rem 1rem;
    display: block;
  }
}
footer .list {
  color: #666666;
  font-weight: 400;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 576px) {
  footer .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
footer .list .footer-item {
  cursor: pointer;
  margin-right: 1.5rem;
}
@media (max-width: 576px) {
  footer .list .footer-item {
    margin: 0;
    margin-top: 1rem;
  }
}
footer .copyright {
  color: #a7a7a7;
  font-size: 0.75rem;
}
@media (max-width: 996px) {
  footer .copyright {
    margin-top: 0.5rem;
  }
}
@media (max-width: 576px) {
  footer .copyright {
    margin: 1rem 0;
    text-align: center;
  }
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.btn-container .nextStep {
  font-size: 24px;
  color: white;
  font-weight: 900;
  letter-spacing: 0.01em;
  font-family: "Noto Sans TC";
  width: 25%;
  background: #53b6b7;
  padding: 15px 40px;
  border-radius: 10px;
}

.schedule {
  background-color: white;
  border: 1px solid #e2e2e2;
  border-radius: 20px;
  padding: 20px;
  -webkit-transform: translate(0px, 80px);
          transform: translate(0px, 80px);
  width: 50%;
}
.schedule .clinic-week {
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #4a4a4a;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-family: "Noto Sans TC";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.schedule .clinic-week .clinic-week-col {
  width: 11.4285714286%;
}
.schedule .clinic-week .clinic-week-col:first-child {
  min-width: 20%;
}
.schedule .clinic-week .clinic-week-col:first-child .item {
  border-left: none;
}
.schedule .clinic-week .clinic-week-col:last-child .item {
  border-right: none;
}
.schedule .clinic-week .clinic-week-col .item {
  font-size: 1.25rem;
  font-weight: 900;
  letter-spacing: 0.01em;
  font-family: "Noto Sans TC";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  height: 60px;
  border: 1px dotted #e2e2e2;
}
.schedule .clinic-week .clinic-week-col .item.state {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.schedule .clinic-week .clinic-week-col .item.state .stateName {
  padding-top: 10px;
}
.schedule .clinic-week .clinic-week-col .item.state .range {
  padding-top: 5px;
  font-size: 1rem;
}
.schedule .clinic-week .clinic-week-col .item.isWeekend {
  color: #9C0E4E;
}
.schedule .clinic-week .clinic-week-col .item.isRest {
  color: #9C0E4E;
}
.schedule .clinic-week .clinic-week-col .item:first-child {
  border-top: none;
}
.schedule .clinic-week .clinic-week-col .item:last-child {
  border-bottom: none;
}
.schedule .clinic-week .clinic-week-col .item .active {
  padding: 0;
  width: 20px;
  height: 20px;
  background: #53b6b7;
  border-radius: 50%;
}
.schedule .clinic-week .clinic-week-col .item .active.isWeekend {
  background-color: #9C0E4E;
}
@media (max-width: 576px) {
  .schedule .clinic-week .clinic-week-col .item .active {
    width: 15px;
    height: 15px;
  }
}
.schedule .clinic-doctor {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 576px) {
  .schedule .clinic-doctor {
    width: 100%;
    margin: 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.schedule .clinic-doctor .doctor {
  cursor: pointer;
  margin: 0.5rem;
  margin-left: 0;
  padding: 1rem 3rem;
  background: #ffffff;
  border-radius: 4px;
  font-size: 20px;
  color: #4a4a4a;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-family: "Noto Sans TC";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  align-items: center;
}
@media (max-width: 576px) {
  .schedule .clinic-doctor .doctor {
    white-space: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem;
    display: block;
    width: calc(50% - 0.5rem);
  }
}
.schedule .clinic-doctor .doctor.active {
  border: 1px solid #53b6b7;
  background: #eefcfb;
  color: #53b6b7;
}
.schedule .clinic-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0;
}
.schedule .clinic-time .clinic-time-state {
  letter-spacing: 0.01em;
  color: black;
  font-weight: 400;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 1.5rem;
}
@media (max-width: 996px) {
  .schedule .clinic-time .clinic-time-state {
    width: auto;
  }
}
.schedule .clinic-time .clinic-time-state .title {
  text-align: start;
  margin-bottom: 0.75rem;
}
.schedule .clinic-time .clinic-time-state .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.schedule .clinic-time .clinic-time-state .list .timeItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: calc(14.2857142857% - 1rem);
  height: 60px;
  background: #ffffff;
  border-radius: 4px;
}
@media (max-width: 996px) {
  .schedule .clinic-time .clinic-time-state .list .timeItem {
    width: auto;
    padding: 0 1rem;
  }
}
.schedule .clinic-time .clinic-time-state .list .timeItem.active {
  background: #eefcfb;
  border: 1px solid #53b6b7;
  border-radius: 4px;
  color: #24a8a7;
}

.content-container {
  padding: 1.5rem 2.5rem 0 2.5rem;
  background-color: #f5f5f5;
}
@media (max-width: 996px) {
  .content-container {
    padding: 1rem;
    padding-bottom: 0;
  }
}
.content-container .condition-tagList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.content-container .condition-tagList span.item {
  border-radius: 50px;
  background-color: #ffffff;
  border: #24a8a7 1px solid;
  color: #53b6b7;
  padding: 0.55rem 0.75rem;
  margin-left: 1rem;
}

.clinic-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 1rem;
  background-color: #53b6b7;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(83, 182, 183)), color-stop(70%, hsla(181deg, 41%, 52%, 0))), url("../../image/卡比.jpg");
  background-image: linear-gradient(to top, rgb(83, 182, 183) 0%, hsla(181deg, 41%, 52%, 0) 70%), url("../../image/卡比.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 774px;
}
.clinic-image .inform {
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.01em;
  font-family: "Noto Sans TC";
}
.clinic-image .inform .department {
  padding-bottom: 1rem;
}
.clinic-image .inform .clinicName {
  font-size: 48px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.01em;
  font-family: "Noto Sans TC";
  letter-spacing: 0.02em;
  border-bottom: 1px solid white;
  padding-bottom: 1rem;
}
.clinic-image .inform .phone,
.clinic-image .inform .address {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-family: "Noto Sans TC";
  letter-spacing: 0.08em;
  padding: 0.5rem 0;
}
.clinic-image .inform .alert {
  letter-spacing: 0.08em;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-family: "Noto Sans TC";
  padding: 0;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  margin: 0;
}

section.detail {
  padding: 1rem 1rem 0 1rem;
}
section.detail .title {
  font-size: 28px;
  color: #53b6b7;
  font-weight: 900;
  letter-spacing: 0.01em;
  font-family: "Noto Sans TC";
  border-bottom: 1px solid #cdcdcd;
  padding: 1rem 2.5rem;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
}
section.detail .content {
  font-size: 20px;
  color: #666666;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-family: "Noto Sans TC";
  letter-spacing: 0.08em;
  padding: 1rem 0;
}
section.detail .content.alert {
  padding: 1rem 2.5rem;
}
section.detail .content .list {
  min-height: 300px;
}
section.detail .content .list li {
  font-size: 20px;
  color: #4a4a4a;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-family: "Noto Sans TC";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid #cdcdcd;
  padding: 0.75rem 0;
}
section.detail .content .list li .itemContent {
  padding-left: 1rem;
}

section {
  margin: 0;
  margin-bottom: 2.5rem;
}
section.stepControl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
section.stepControl .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 20px;
  color: #53b6b7;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-family: "Noto Sans TC";
  width: calc(33.3333333333% - 1rem);
  border-bottom: 2px solid #53b6b7;
  border-radius: 4px 4px 0px 0px;
  padding: 0.75rem 0;
}
section.stepControl .step .step-num {
  font-size: 1rem;
  color: white;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-family: "Noto Sans TC";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #53b6b7;
  margin: 0 0.5rem;
  border-radius: 50px;
  width: 25px;
  height: 25px;
}
section.stepControl .step .step-name {
  letter-spacing: 2px;
}
section.stepControl .step.active {
  background: #53B6B7;
  color: white;
  border-bottom: 2px solid #215E5F;
}
section.stepControl .step.active .step-num {
  background-color: white;
  color: #53B6B7;
}

.resevation-inform {
  text-align: start;
  padding: 1rem 0 3rem 0;
}
.resevation-inform .resevation-inform-item {
  margin-top: 1rem;
  font-size: 20px;
  color: #4a4a4a;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-family: "Noto Sans TC";
  letter-spacing: 0.14em;
}
.resevation-inform .resevation-inform-item .value {
  padding-left: 2rem;
  color: #53b6b7;
}

.patient-inform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.patient-inform .visit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40%;
  margin: 1.5rem 0;
}
.patient-inform .visit .visit-first,
.patient-inform .visit .visit-followUp {
  font-size: 24px;
  color: #4a4a4a;
  font-weight: 500;
  letter-spacing: 0.01em;
  font-family: "Noto Sans TC";
  letter-spacing: 0.14em;
  color: rgba(74, 74, 74, 0.3);
  padding: 0.75rem 0.55rem;
  border-radius: 10px;
  text-align: center;
  border: 1px solid rgba(74, 74, 74, 0.3);
  margin: 0 1rem;
  width: 100%;
}
.patient-inform .visit .visit-first.active,
.patient-inform .visit .visit-followUp.active {
  background-color: #53B6B7;
  color: white;
  border: #53B6B7 1px solid;
}
.patient-inform .inform-input {
  width: 50%;
  margin-top: 1rem;
}
.patient-inform .inform-input .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1.5rem;
}
.patient-inform .inform-input .input label {
  font-size: 18px;
  color: #4A4A4A;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-family: "Noto Sans TC";
  white-space: nowrap;
  min-width: 150px;
  margin-right: 1rem;
  text-align: start;
}
.patient-inform .form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 20px;
  color: #4a4a4a;
  font-weight: 500;
  letter-spacing: 0.01em;
  font-family: "Noto Sans TC";
}
.patient-inform .form-check .form-check-label {
  padding-left: 1.5rem;
}

.stepControl-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  margin: 0 auto;
  margin-top: 1.5rem;
}
.stepControl-button .button-prev,
.stepControl-button .button-next {
  font-size: 24px;
  color: #4a4a4a;
  font-weight: 500;
  letter-spacing: 0.01em;
  font-family: "Noto Sans TC";
  letter-spacing: 0.14em;
  color: rgba(74, 74, 74, 0.3);
  padding: 0.75rem 0.55rem;
  border-radius: 10px;
  text-align: center;
  border: 1px solid rgba(74, 74, 74, 0.3);
  margin: 0 1rem;
  width: 100%;
}
.stepControl-button .button-prev.active,
.stepControl-button .button-next.active {
  background-color: #53B6B7;
  color: white;
  border: #53B6B7 1px solid;
}

.finishTitle {
  font-size: 28px;
  color: #ab0f56;
  font-weight: 900;
  letter-spacing: 0.01em;
  font-family: "Noto Sans TC";
  text-align: center;
  letter-spacing: 0.14em;
  margin: 1.5rem 0;
}

.breakline {
  position: relative;
  margin-top: 1rem;
}
.breakline .title {
  font-size: 20px;
  color: #4A4A4A;
  font-weight: 500;
  letter-spacing: 0.01em;
  font-family: "Noto Sans TC";
  padding: 0.25rem;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.breakline .line {
  height: 1px;
  width: 100%;
  background-color: rgba(74, 74, 74, 0.3);
}
.breakline.titleLine {
  font-size: 28px;
  color: gray;
  font-weight: 900;
  letter-spacing: 0.01em;
  font-family: "Noto Sans TC";
  letter-spacing: 0.14em;
}
.breakline.titleLine .title {
  left: 0;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  font-weight: 900;
}

.personal-inform {
  width: 50%;
  margin: 0 auto;
  margin-top: 2.5rem;
}
.personal-inform .informItem {
  margin-bottom: 1rem;
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.personal-inform .informItem .field {
  font-size: 1.25rem;
  color: #4a4a4a;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-family: "Noto Sans TC";
  width: 40%;
  letter-spacing: 0.14em;
}
.personal-inform .informItem .value {
  width: 60%;
  font-size: 1.25rem;
  color: #53b6b7;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-family: "Noto Sans TC";
  letter-spacing: 0.14em;
}

section {
  margin: 0;
}
section.banner {
  background-color: thistle;
  height: 100px;
}