@mixin backgroundImage($img: null) {
  // background-image: url($img); /* 图片 */
  background-image: linear-gradient(
    to top,
    rgb(83, 182, 183) 20%,
    hsla(181, 41%, 52%, 0) 70%
  ), url($img);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
