.list-container {
  padding-top: 1.25rem;
  .header-page{
    font-weight: 600;
    font-size: 1.25rem;
    text-align: end;
    letter-spacing: 0.5rem;
    margin-bottom: 0.5rem
  }
  .table {
    border-collapse: collapse;
    border-radius: 10px;
    &.table-striped {
      border-radius: 10px;
    }
    // border-radius: 10px;
    //  border: 2px solid gray;
    thead {
      border-radius: 10px 10px 0 0;
    }
  }
}
tbody{
    .type{
        // white-space:nowrap;
        // display: flex;
        // // flex-direction: column;
        // flex-wrap: wrap;
        .type-item{
            display: inline;
            margin: 0;
            color:snow;
            background-color: rgb(166, 204, 114) ;
        }
    }
    .other{
      text-align: end;
      .dropdown-toggle::after{
        margin: 0;
      }
      .dropdown-menu{
        .dropdown-item{
          text-align: center;
        }
      }
    }
}