.list-container {
  padding-top: 1.25rem;
  .table {
    border-collapse: collapse;
    border-radius: 10px;
    &.table-striped {
      border-radius: 10px;
    }
    // border-radius: 10px;
    //  border: 2px solid gray;
    thead {
      border-radius: 10px 10px 0 0;
    }
  }
}
tbody{
    .type{
        // white-space:nowrap;
        // display: flex;
        // // flex-direction: column;
        // flex-wrap: wrap;
        .type-item{
            display: inline;
            margin: 0;
            color:snow;
            background-color: rgb(166, 204, 114) ;
        }
    }
}