section.filter-container {
  border-radius: 20px;
  border: 2px solid steelblue;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(242, 239, 236)), to(rgba(115, 183, 178, 0.1)));
  background: linear-gradient(rgb(242, 239, 236), rgba(115, 183, 178, 0.1));
  margin-top: 1rem;
  padding: 1rem 2rem 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
section.filter-container .input-title-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.filter-container .input-title-date .filter-tag {
  width: 10%;
}
section.filter-container .input-title-date .filter-title {
  width: 50%;
}
section.filter-container .input-title-date .filter-date {
  width: 30%;
}
section.filter-container .input-status-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}
section.filter-container .input-status-checkbox .form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
section.filter-container .input-status-checkbox .form-check .form-check-input {
  margin: 0;
}
section.filter-container .input-status-checkbox .form-check .form-check-label {
  white-space: nowrap;
  padding: 0 1rem 0 0.5rem;
}
section.filter-container .tagsList {
  width: 100%;
  border-radius: 10px;
  border: 2px rgba(100, 100, 100, 0.343) solid;
  background-color: rgba(233, 242, 253, 0.69);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
section.filter-container .tagsList button {
  margin: 0 1rem 1rem 0;
}
section.filter-container .btn-container {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid rgb(227, 177, 142);
}
section.filter-container .btn-container button {
  margin-left: 1rem;
  width: 10%;
}

.list-container {
  padding-top: 1.25rem;
}
.list-container .header-page {
  font-weight: 600;
  font-size: 1rem;
  text-align: end;
  letter-spacing: 0.5rem;
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.list-container .header-page .icon {
  cursor: pointer;
  border-radius: 10%;
  margin: 0 0.5rem;
  border: #774e4e 1px solid;
}
.list-container .table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.list-container .table.table-striped {
  border-radius: 10px;
}
.list-container .table thead {
  border-radius: 10px 10px 0 0;
}

tbody {
  vertical-align: middle !important;
}
tbody .type .type-item {
  display: inline;
  margin: 0;
  color: snow;
  background-color: rgb(166, 204, 114);
}
tbody .title {
  font-weight: 900;
  font-size: 1.5rem;
}
tbody .image img {
  border-radius: 10px;
}
tbody .date {
  text-align: end;
}
tbody .date .date-time {
  font-size: smaller;
  color: #774e4e;
}
tbody .date .date-date {
  font-size: medium;
  color: #774e4e;
}
tbody .other {
  text-align: end;
}
tbody .other .dropdown-toggle::after {
  margin: 0;
}
tbody .other .dropdown-menu .dropdown-item {
  text-align: center;
}

main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.articleList-container {
  width: 100%;
  padding: 15px;
}
.articleList-container .mjr_title {
  width: 100%;
}