.content-container {
  @include content_container();
  .condition-tagList {
    @include dflex(start, center);
    span {
      &.item {
        border-radius: 50px;
        background-color: #ffffff;
        border: #24a8a7 1px solid;
        color: #53b6b7;
        padding: 0.55rem 0.75rem;
        margin-left: 1rem;
      }
    }
  }
}
.clinic-image {
  @include dflex(space-between, end);
  padding: 0 1rem;
  background-color: #53b6b7;
  // background-image: linear-gradient(to bottom, #ff0000, #00ff00); /* 颜色渐变 */

  @include backgroundImage("../../image/卡比.jpg");
  // width: 300px;
  width: 100%;
  height: 774px;

  .inform {
    @include fontSize(18px, #ffffff, 700);
    // transform: translate(0,2rem);
    // 左邊診所資料

    .department {
      padding-bottom: 1rem;
    }
    .clinicName {
      @include fontSize(48px, #ffffff, 700);
      letter-spacing: 0.02em;
      border-bottom: 1px solid white;
      padding-bottom: 1rem;
    }
    .phone,
    .address {
      @include fontSize(20px, null, 400);
      // font-size: 20px;
      letter-spacing: 0.08em;
      // font-weight: 400;
      padding: 0.5rem 0;
    }
    .alert {
      // font-size: 12px;
      // font-weight: 400;
      letter-spacing: 0.08em;
      @include fontSize(12px, null, 400);
      padding: 0;
      padding-top: 1.5rem;
      padding-bottom: 0.5rem;
      margin: 0;
    }
  }
}
section {
  &.detail {
    padding: 1rem 1rem 0 1rem;
    .title {
      @include fontSize(28px, #53b6b7, 900);
      border-bottom: 1px solid #cdcdcd;
      padding: 1rem 2.5rem;

      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
    }
    .content {
      @include fontSize(20px, #666666, 400);
      letter-spacing: 0.08em;
      // border-bottom: 1px solid #CDCDCD;
      padding: 1rem 0;
      &.alert {
        padding: 1rem 2.5rem;
        &.close{
          // max-height: 0;
          // overflow: hidden;
          // opacity: 0;
          // visibility: hidden;
          // transition: opacity 5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
        &.show{
          // opacity: 1;
          // visibility: visible;
          // max-height: none;
        }
      }
      .list {
        min-height: 300px;
        li {
          @include fontSize(20px, #4a4a4a, 400);
          @include dflex(space-between, center);
          border-bottom: 1px solid #cdcdcd;
          padding: 0.75rem 0;
          .itemContent {
            padding-left: 1rem;
          }
        }
      }
    }
  }
}


