section {
  padding: 0;
  .read-around {
    margin: 1rem 0;
    @media (max-width: 996px) {
      padding: 0 15px;
    }
    @media (max-width: 576px) {
      padding: 1rem;
    }
    .title {
      font-weight: 900;
      border-bottom: 2px solid #cdcdcd;
      padding-bottom: 0.5rem;
      display: flex;
      justify-content: space-between;
      align-items: end;
      .title-name {
        font-size: 1.75rem;
        color: #333333;
      }
      .title-more {
        font-size: 1rem;
        color: #666666;
        cursor: pointer;
      }
    }
    .content {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-top: 1.5rem;
      @media (max-width: 576px) {
        flex-direction: column;
      }
      .content-card {
        width: calc(100% / 3 - 1.5%);
        @media (max-width: 576px) {
          width: 100%;
          margin-bottom: 1rem;
        }
        .content-article-title {
          font-weight: 700;
          letter-spacing: 0.02em;
          line-height: 25px;
          font-size: 1.25rem;
          padding-top: 1rem;
        }
      }
    }
  }
}
